body{
  background-color: #29303b;
}

.container{
  padding-top: 20px;
  width : 930px !important;

}

.page{
  background-color:white;
  height: 1214px;
  padding-top: 120px;
  padding-bottom: 110px;
  padding-left: 100px;
  padding-right: 100px;
  overflow: auto;

}

.row{
  padding-bottom: 20px;
}

.title2{
  font-family: 'Dancing Script', cursive;
  padding-bottom: 50px;
  text-align: center;
}

.title4{
  font-family: 'Parisienne', cursive;
  padding-bottom: 50px;
  text-align: center;
}

.title4 h1,h2{
  font-size: 3rem;
      color:black;
}

.title6{
  font-family: 'Homemade Apple', cursive;
  padding-bottom: 50px;
  text-align: center;
}

.title7{
  font-family: 'Tangerine', cursive;
  padding-bottom: 50px;
  text-align: center;
}

.stars{
  font-family: 'Homemade Apple', cursive;

}

.contents{
  text-align: center;
  text-transform: uppercase;
}

li{
  list-style-type: none;
}

a{
  display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    color:black;
    padding-bottom: 1rem;
}

a:hover{
  text-decoration: none;
  color:black;
}

#dedicace{
  padding-top: 150px;
  font-family: 'EB Garamond', serif;
  color:black;
}

#dedicace h3{
  text-align: center;
  text-transform: uppercase;
}

#dedicace p{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 25px;
  text-align: justify;
}

#dedicace h5{
  text-align: center;
  text-transform: uppercase;
}

.hidden{
  display:none;
}

.word{
  cursor:pointer;
  position: relative;
}

.word:hover{
  text-decoration: underline;
}

#Leon{
    color:black;
    font-family: 'EB Garamond', serif;
    font-size: 1.75rem;
    padding-bottom: 0;
}

#Leon:hover{
  text-decoration: none;
  color:black;
}

audio{
  width:100%;
}

audio:focus{
  outline: none;
}

.hidden{
  display: none;
}

.audioContainer{
  position: fixed;
  z-index: 1;
  width:100%;
  background-color: #f1f3f4;
  text-align: center;
  padding-top: 0.5rem;
}

.audioContainer h6{
  position: absolute;
  z-index: 2;
  left: 46%;
}

.audioContainerOne{
  position: fixed;
  z-index: 1;
  width:100%;
  background-color: #f1f3f4;
  text-align: center;
  padding-top: 0.5rem;
}

.audioContainerOne h6{
  position: absolute;
  z-index: 2;
  left: 46%;
}

.audioContainerTwo{
  position: fixed;
  z-index: 1;
  width:100%;
  background-color: #f1f3f4;
  text-align: center;
  padding-top: 0.5rem;
}

.audioContainerTwo h6{
  position: absolute;
  z-index: 2;
  left: 46%;
}

.chapitres{
  font-family: 'EB Garamond', serif;
}

.chapitres h1{
  text-align: center;
  font-size: 2rem;
}

[titles]:hover:after{
position:absolute;
  content: attr(titles);
  background:white;
  padding: 0.2rem;
  border:1px solid;
  font-size:1rem;
  top: 25%;
}

.tooltips{
  cursor:pointer;
  font-size: 25px;
}

.tooltips:hover{
  text-decoration: underline;
}

.tooltips span {
    display:none;
    color:black;
    font-size:1rem;
    background-color:white;
    border: solid 1px black;
    font-family: sans-serif;
    padding-left:10px;
    padding-right:10px;
}

.tooltipsUp em {
    display:none;
    color:black;
    font-size:1rem;
    background-color:white;
    border: solid 1px black;
    font-family: sans-serif;
    padding-left:10px;
    padding-right:10px;
}
.tooltipsUp:hover em {
    display:block;
    position:fixed;
    overflow:hidden;
}

/* .tooltipsUp:hover{
  font-style: italic;
} */

.tooltips:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

.chapitre1 p{
  font-family: 'EB Garamond', serif;
  color:black;
  font-size: 25px;
  text-align: justify;
}

.chapitre1{
  text-align: center;
}

.fakeTab{
  visibility: hidden;
}

em{
  font-style: normal;
}
